# Jak pracowa z danymi tabelarycznymi?

In [1]:
# Pobierz dane std: https://www.kaggle.com/altinsoyemrecan/daily-updated-forex-data-since-201111
# Znajdziesz je r贸wnie偶 w pliku `M08/data/forex_usd_data.csv`.

# Dane tabelaryczne to dane, gdzie ka偶da kolumna mo偶e by innego typu, np. w jednej kolumnie s liczby, w drugiej daty, w trzeciej napisy itd. Czyli s t np. arkusze Excela czy pliki CSV.

# Pandas to Pythonowa biblioteka do pracy z danymi tabelarycznymi. Zainstalujmy Pandasa:
# $ pip install pandas --upgrade

In [1]:
import pandas as pd  # przyjo si skraca nazw

# W ten spos贸b mo偶emy w jednej linii wczyta dane z pliku CSV:
df = pd.read_csv(
    'data/forex_usd_data.csv',
) 

# Pandas umo偶liwia te偶 r贸wnie proste wczytanie wielu innych format贸w, np. plik贸w Excela czy nawet czenie si z bazami danych.

print(type(df))  # tak, to jest DataFrame - zupenie nowy typ
df  # Jupyter Notebook automatycznie wywietla rezultat ostatniej linii

<class 'pandas.core.frame.DataFrame'>

,date(y-m-d),Argentine Peso,Australian Dollar,Bahraini Dinar,Botswana Pula,Brazilian Real,Bruneian Dollar,Bulgarian Lev,Canadian Dollar,Chilean Peso,...,Sri Lankan Rupee,Swedish Krona,Swiss Franc,Taiwan New Dollar,Thai Baht,Trinidadian Dollar,Turkish Lira,Emirati Dirham,British Pound,Venezuelan Bolivar
0,2011-01-01,3.969000,0.977326,0.377050,6.472492,1.659500,1.284500,1.463830,0.997700,467.750000,...,110.940002,6.721450,0.934500,29.140000,30.020000,6.340000,1.537400,3.67310,0.640553,4.300000e+00
1,2011-01-02,3.969000,0.977326,0.377050,6.472492,1.659500,1.283500,1.463830,0.997700,467.750000,...,110.940002,6.721450,0.933800,29.099001,30.020000,6.340000,1.537400,3.67310,0.641067,4.300000e+00
2,2011-01-03,3.973500,0.980569,0.377055,6.472492,1.646288,1.284367,1.462799,0.990444,465.649994,...,110.919998,6.693788,0.933069,29.120000,30.084999,6.390000,1.557411,3.67320,0.645615,4.300000e+00
3,2011-01-04,3.971000,0.995580,0.377060,6.480881,1.666747,1.287438,1.469525,0.999076,487.850006,...,110.820000,6.726967,0.947903,29.175004,30.104903,6.360000,1.547801,3.67315,0.641558,4.300000e+00
4,2011-01-05,3.971500,0.999522,0.377050,6.548788,1.670312,1.291450,1.485031,0.994376,495.149993,...,110.820000,6.766127,0.964490,29.170000,30.216193,6.380000,1.543853,3.67310,0.645308,4.300000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3925,2021-09-30,98.736445,1.383440,0.376000,11.311807,5.448215,1.358174,1.689414,1.267304,809.029363,...,199.765848,8.759269,0.933964,27.842308,33.657387,6.791447,8.889614,3.67250,0.742524,4.191044e+11
3926,2021-10-01,98.775373,1.375609,0.376000,11.308244,5.368396,1.355184,1.686547,1.266198,803.116486,...,199.710102,8.753079,0.929910,27.814423,33.650881,6.790072,8.863875,3.67250,0.737063,4.217250e+11
3927,2021-10-02,98.706094,1.377447,0.376000,11.308076,5.366149,1.357800,1.686570,1.265100,802.961819,...,199.783853,8.759742,0.930556,27.770491,33.613309,6.791937,8.858009,3.67250,0.738259,4.199616e+11
3928,2021-10-03,98.604440,1.378329,0.376000,11.308076,5.364326,1.358017,1.687240,1.265399,803.244522,...,199.783853,8.761347,0.930747,27.803499,33.614106,6.760819,8.857427,3.67250,0.738270,4.282961e+11
3929,2021-10-04,98.899751,1.373134,0.376000,11.274609,5.434125,1.357198,1.682963,1.257340,806.583070,...,199.989191,8.724397,0.924996,27.967667,33.760966,6.781920,8.872524,3.67250,0.735015,4.179626e+11

In [3]:
# W ten spos贸b sprawdzimy jak Pandas zrozumia dane z pliku:
df.info()

# Wida midzy innymi, 偶e data zostaa zinterpretowana jako object (= string) zamiast jako data.
# Zosta te偶 dodany index.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3930 entries, 0 to 3929
Data columns (total 54 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date(y-m-d)            3930 non-null   object
 1   Argentine Peso         3930 non-null   float64
 2   Australian Dollar      3930 non-null   float64
 3   Bahraini Dinar         3930 non-null   float64
 4   Botswana Pula          3930 non-null   float64
 5   Brazilian Real         3930 non-null   float64
 6   Bruneian Dollar        3930 non-null   float64
 7   Bulgarian Lev          3930 non-null   float64
 8   Canadian Dollar        3930 non-null   float64
 9   Chilean Peso           3930 non-null   float64
 10  Chinese Yuan Renminbi  3930 non-null   float64
 11  Colombian Peso         3930 non-null   float64
 12  Croatian Kuna          3930 non-null   float64
 13  Czech Koruna           3930 non-null   float64
 14  Danish Krone           3930 non-null   float64
 15  Euro                   3930 non-null   float64
 16  Hong Kong Dollar       3930 non-null   float64
 17  Hungarian Forint       3930 non-null   float64
 18  Icelandic Krona        3930 non-null   float64
 19  Indian Rupee           3930 non-null   float64
 20  Indonesian Rupiah      3930 non-null   float64
 21  Iranian Rial           3930 non-null   float64
 22  Israeli Shekel         3930 non-null   float64
 23  Japanese Yen           3930 non-null   float64
 24  Kazakhstani Tenge      3930 non-null   float64
 25  South Korean Won       3930 non-null   float64
 26  Kuwaiti Dinar          3930 non-null   float64
 27  Libyan Dinar           3930 non-null   float64
 28  Malaysian Ringgit      3930 non-null   float64
 29  Mauritian Rupee        3930 non-null   float64
 30  Mexican Peso           3930 non-null   float64
 31  Nepalese Rupee         3930 non-null   float64
 32  New Zealand Dollar     3930 non-null   float64
 33  Norwegian Krone        3930 non-null   float64
 34  Omani Rial             3930 non-null   float64
 35  Pakistani Rupee        3930 non-null   float64
 36  Philippine Peso        3930 non-null   float64
 37  Polish Zloty           3930 non-null   float64
 38  Qatari Riyal           3930 non-null   float64
 39  Romanian New Leu       3930 non-null   float64
 40  Russian Ruble          3930 non-null   float64
 41  Saudi Arabian Riyal    3930 non-null   float64
 42  Singapore Dollar       3930 non-null   float64
 43  South African Rand     3930 non-null   float64
 44  Sri Lankan Rupee       3930 non-null   float64
 45  Swedish Krona          3930 non-null   float64
 46  Swiss Franc            3930 non-null   float64
 47  Taiwan New Dollar      3930 non-null   float64
 48  Thai Baht              3930 non-null   float64
 49  Trinidadian Dollar     3930 non-null   float64
 50  Turkish Lira           3930 non-null   float64
 51  Emirati Dirham         3930 non-null   float64
 52  British Pound          3930 non-null   float64
 53  Venezuelan Bolivar     3928 non-null   float64
dtypes: float64(53), object(1)
memory usage: 1.6+ MB

#  wiczenie

1. Pobierz dane z https://www.kaggle.com/denychaen/macroeconomic-pl lub u偶yj pliku data/macroeconomicsPL.csv. Jest to zbi贸r danych przygotowany przez Denysa Cherevyk. Pod tym adresem znajdziesz wyjanienie co oznaczaj poszczeg贸lne kolumny.
2. Wczytaj dane do pamici.
3. Sprawd藕 jak Pandas rozumie te dane. Co trzeba bdzie zmieni?